/*首頁*/
@media screen and (max-width: 1024px){
    .run_work{
        display: none;
    }
    .act_type{
        width: 100vw;
    }
}
/*內頁*/
@media screen and (max-width: 640px){
    .person_inf,.block_03{
        width: 320px;
    }
}

@media screen and (max-width: 640px){
    #topicon{
        right: 10px;
    }
}