/* 2018 coding by 777x777 */

/*首頁*/
@media screen and (max-width: 1024px){
    .run_work,.backgroundcolor{
        display: none;
    }
    .yearpeople,.yearmain{
        width: 100%;
        max-width: 960px;
        padding: 0px;
    }
    .yearmain .article{
        margin: 0 20px;
    }
    .yearmain div:nth-child(1){
        left:10px;
    }
    .yearmain div:nth-child(2){
        margin-top: 50px;
    }
}
@media screen and (max-width: 640px){
    .act_type{
        width: 320px;
    }
    .titleinf li{
        padding-left: 0px;
    }
    .title_mar div{
        padding-left: 0;
    }
    .titlemain{
        width:100vw;
    }
    .title_pic div:nth-of-type(1){
        font-size: 32px;
        font-weight: 400;
    }
    .title_pic span{
        font-size: 16px;
    }
}
@media screen and (min-width: 1360px){
    .work,.title_mar {
        width: 1360px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 800px){
    .titlelift{
        width: 100%;
    }
    .titlelift img{
        margin: 0 auto;
        width: 60px;
        display: block;
    }
    .titleright{
        float: none;
    }
}
/*內頁*/
@media screen and (max-width: 640px){
    .person_inf,.block_03{
        width: 320px;
    }
}

@media screen and (max-width: 640px){
    #topicon{
        right: 10px;
    }
}